In [3]:
import numpy as np
import pandas as pd
dates = pd.date_range('20130101', periods=6)

In [4]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [5]:
df

                   A         B         C         D
2013-01-01 -0.780983  0.675392 -1.204800  0.130997
2013-01-02  0.619849  2.134038  0.573553  0.341110
2013-01-03 -1.638158 -0.139888 -0.511656 -0.752437
2013-01-04 -0.020434  0.496664 -1.586852 -0.187567
2013-01-05 -1.216179  1.453575 -1.186837 -0.203968
2013-01-06 -1.500044  1.869281 -1.230274  0.478815

In [6]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [7]:
df1

                   A         B         C         D   E
2013-01-01 -0.780983  0.675392 -1.204800  0.130997 NaN
2013-01-02  0.619849  2.134038  0.573553  0.341110 NaN
2013-01-03 -1.638158 -0.139888 -0.511656 -0.752437 NaN
2013-01-04 -0.020434  0.496664 -1.586852 -0.187567 NaN

In [8]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [9]:
df1

                   A         B         C         D   E
2013-01-01 -0.780983  0.675392 -1.204800  0.130997   1
2013-01-02  0.619849  2.134038  0.573553  0.341110   1
2013-01-03 -1.638158 -0.139888 -0.511656 -0.752437 NaN
2013-01-04 -0.020434  0.496664 -1.586852 -0.187567 NaN

In [10]:
df1.dropna(axis=1, thresh=3)

                   A         B         C         D
2013-01-01 -0.780983  0.675392 -1.204800  0.130997
2013-01-02  0.619849  2.134038  0.573553  0.341110
2013-01-03 -1.638158 -0.139888 -0.511656 -0.752437
2013-01-04 -0.020434  0.496664 -1.586852 -0.187567

In [11]:
df1.dropna(axis=1, thresh=2)

                   A         B         C         D   E
2013-01-01 -0.780983  0.675392 -1.204800  0.130997   1
2013-01-02  0.619849  2.134038  0.573553  0.341110   1
2013-01-03 -1.638158 -0.139888 -0.511656 -0.752437 NaN
2013-01-04 -0.020434  0.496664 -1.586852 -0.187567 NaN

In [12]:
df1.columns.get_loc('A')

0

In [13]:
df2 = df1.dropna(axis=1, thresh=3)
df2

                   A         B         C         D
2013-01-01 -0.780983  0.675392 -1.204800  0.130997
2013-01-02  0.619849  2.134038  0.573553  0.341110
2013-01-03 -1.638158 -0.139888 -0.511656 -0.752437
2013-01-04 -0.020434  0.496664 -1.586852 -0.187567

In [16]:
df = pd.DataFrame(np.random.randn(6,4), index=range(6), columns=list('ABCD'))

In [17]:
df

          A         B         C         D
0 -0.082177  1.669760  0.984703  0.691419
1 -0.863271  0.036296 -0.309779  1.753046
2  1.189012 -0.238806 -0.114077 -1.052359
3 -0.991874 -1.082315  1.724366 -0.036022
4 -0.770210 -0.020009 -1.102281  2.492944
5  0.512619  0.838677  1.143824  0.617505

In [18]:
df.drop([0,1])

          A         B         C         D
2  1.189012 -0.238806 -0.114077 -1.052359
3 -0.991874 -1.082315  1.724366 -0.036022
4 -0.770210 -0.020009 -1.102281  2.492944
5  0.512619  0.838677  1.143824  0.617505