In [2]:
import numpy as np
import pandas as pd
dates = pd.date_range('20130101', periods=6)

In [3]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [4]:
df

                   A         B         C         D
2013-01-01 -1.771181 -0.576734 -0.100028 -1.366556
2013-01-02  0.677383 -0.182304 -0.163987  1.009269
2013-01-03  0.934248  0.325748 -0.301876  0.979724
2013-01-04 -0.498894  0.286945  0.224007  0.183222
2013-01-05  0.265054  0.089103 -0.417256 -0.344542
2013-01-06  0.964455 -1.058502 -0.019047 -0.520471

In [5]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [6]:
df1

                   A         B         C         D   E
2013-01-01 -1.771181 -0.576734 -0.100028 -1.366556 NaN
2013-01-02  0.677383 -0.182304 -0.163987  1.009269 NaN
2013-01-03  0.934248  0.325748 -0.301876  0.979724 NaN
2013-01-04 -0.498894  0.286945  0.224007  0.183222 NaN

In [7]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [8]:
df1

                   A         B         C         D   E
2013-01-01 -1.771181 -0.576734 -0.100028 -1.366556   1
2013-01-02  0.677383 -0.182304 -0.163987  1.009269   1
2013-01-03  0.934248  0.325748 -0.301876  0.979724 NaN
2013-01-04 -0.498894  0.286945  0.224007  0.183222 NaN

In [12]:
df1.dropna(axis=1, thresh=3)

                   A         B         C         D
2013-01-01 -1.771181 -0.576734 -0.100028 -1.366556
2013-01-02  0.677383 -0.182304 -0.163987  1.009269
2013-01-03  0.934248  0.325748 -0.301876  0.979724
2013-01-04 -0.498894  0.286945  0.224007  0.183222

In [14]:
df1.dropna(axis=1, thresh=2)

                   A         B         C         D   E
2013-01-01 -1.771181 -0.576734 -0.100028 -1.366556   1
2013-01-02  0.677383 -0.182304 -0.163987  1.009269   1
2013-01-03  0.934248  0.325748 -0.301876  0.979724 NaN
2013-01-04 -0.498894  0.286945  0.224007  0.183222 NaN

In [15]:
df1.columns.get_loc('A')

0

In [18]:
df2 = df1.dropna(axis=1, thresh=3)
df2

                   A         B         C         D
2013-01-01 -1.771181 -0.576734 -0.100028 -1.366556
2013-01-02  0.677383 -0.182304 -0.163987  1.009269
2013-01-03  0.934248  0.325748 -0.301876  0.979724
2013-01-04 -0.498894  0.286945  0.224007  0.183222

In [19]:
df2.columns.get_loc('E')

KeyError: 'E'